body{
    color: #F5F5F5;
    background-color: #708090;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    text-align: justify;
    margin-left: 5vw;
    margin-right: 20vw;
}

img{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 20px;
}

.images-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

table, th, td{
    border: 2px solid #F5F5F5;
    padding: 1vh;
    border-collapse: collapse;
}

button{	
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f3f4;
    color: #708090;
    cursor: pointer;
    font-size: 30px;
    margin: 3px;
    border-radius: 14px;
    border: none;
}

button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

h2::after {
    content: "(Debatable)";
    position: absolute;
    opacity: 0;
    left: 100%;
    transition: all 0.3s ease-in-out;
}

h2:hover::after {
    opacity: 1;
    left: 105%;
}

@media (max-width: 1000px){
    body{
        font-size: 28px;
        margin: 5vw;
    }

    img{
        width: 100%;
    }

    .images-container{
        grid-template-columns: auto auto;
    }

    table, th, td{
        font-size: 36px;
        padding: 0.5vh;
    }

    button{
        font-size: 60px;
    }
}
