body{
    color: #F5F5F5;
    background-color: #708090;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-left: 5vw;
    margin-right: 20vw;
}

img{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    height: 350px;
    border-radius: 20px;
}

.images-container{
    display: flex;
    gap: 20px;
}

table, th, td{
    border: 2px solid #F5F5F5;
    padding: 1vh;
    border-collapse: collapse;
    
}

button{	
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f3f4;
    color: #708090;
    cursor: pointer;
    font-size: 30px;
    margin: 3px;
    border-radius: 14px;
    border: none;
}

button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

#anim{
    position: absolute;
    font-size: 40px;
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    color: #f2f3f4;
    text-shadow: 2px 2px #000000;
    white-space: nowrap;
    transition: all 0.2s ease-out;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5), 0 0 75px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.5);
    z-index: -1;
}